<a href="https://colab.research.google.com/github/25021768-hub/t-duy-t-nh-to-n-/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#W6A1
def removing(input_string):
  seen = set()
  numbers = [int(x) for x in input_string.split()]
  result = []
  for num in numbers :
    if num not in seen :
      seen.add(num)
      result.append(num)
  return result
  print (result)
if __name__ == "__main__":
    input_data = input("Nhập một dòng gồm các số nguyên (cách nhau bởi khoảng trắng): ")

    print(removing(input_data))

Nhập một dòng gồm các số nguyên (cách nhau bởi khoảng trắng): 5 10 15
[5, 10, 15]

In [ ]:
#W6A2
def calculate_cumulative_sum(input_string):
    try:
        numbers = [int(x) for x in input_string.split()]
    except ValueError:
        print("Lỗi: Đầu vào chứa ký tự không phải là số nguyên.")
        return []

    result = []
    current_sum = 0

    for num in numbers:
        current_sum += num
        result.append(current_sum)
    return result

if __name__ == "__main__":

    input_data = input("Nhập một dòng gồm các số nguyên (cách nhau bởi khoảng trắng): ")
    final_result = calculate_cumulative_sum(input_data)
    print(final_result)

Nhập một dòng gồm các số nguyên (cách nhau bởi khoảng trắng): 5 10 20 15
[5, 15, 35, 50]

In [ ]:
#W6A4
pairs = input().split()
d = {}

for p in pairs:
    key, value = p.split(":")
    if key not in d:
        d[key] = [value]
    else:
        d[key].append(value)

print(d)

a:1 b:2 c:3
{'a': ['1'], 'b': ['2'], 'c': ['3']}

In [ ]:
#W6A3
t = tuple(map(int,input().split()))
k = int(input())
arr = list(t)
while k != 0 :
  arr.append(arr[0])
  arr.pop(0)
  k -= 1
print(tuple(arr))

10
5
(10,)

In [ ]:
#W6A3
t = tuple(map(int, input().split()))
k = int(input())

n = len(t)
if n > 0:
    k = k % n
    result = t[k:] + t[:k]
else:
    result = t

print(result)

1 2 3 4 5
2
(3, 4, 5, 1, 2)

In [ ]:
#W6A5
nums = list(map(int, input().split()))

result = {'positives': 0,'negatives': 0,'zeros': 0}

for x in nums:
    if x > 0:
        result['positives'] += 1
    elif x < 0:
        result['negatives'] += 1
    else:
        result['zeros'] += 1

print(result)

123 124
{'positives': 2, 'negatives': 0, 'zeros': 0}

In [ ]:
#W6A6
import math
numbers = list(map(int,input().split()))
total = sum(numbers)
print(total)

5 10 15 20
50

In [ ]:
#W6A7
t = tuple(map(int,input().split()))
print("phần tử đầu là:", t[0])
print("phần tử cuối là :", t[-1])
print("tuple đảo ngược:", t[::-1])

5 10 20 15
phần tử đầu là: 5
phần tử cuối là : 15
tuple đảo ngược: (15, 20, 10, 5)

In [ ]:
#W6A8
strings = input("Nhập các chuỗi, cách nhau bằng khoảng trắng: ").split()
counts = {}
for s in strings:
    if s in counts:
        counts[s] += 1
    else:
        counts[s] = 1

print(counts)

Nhập các chuỗi, cách nhau bằng khoảng trắng: 5 10 5 10 20 5
{'5': 3, '10': 2, '20': 1}

In [ ]:
#W6A9
d1 = dict(item.split(":") for item in input("Nhập dict 1: ").split())
d2 = dict(item.split(":") for item in input("Nhập dict 2: ").split())

d1 = {k: int(v) for k, v in d1.items()}
d2 = {k: int(v) for k, v in d2.items()}

result = {}

for k, v in d1.items():
    result[k] = v

for k, v in d2.items():
    if k in result:
        result[k] += v
    else:
        result[k] = v

result = dict(sorted(result.items()))
print("Dictionary sau khi gộp:", result)

In [ ]:
#W6A10
nums = list(map(int, input("Nhập list số nguyên: ").split()))
k = int(input("Nhập k: "))
pairs = []
for i in range(len(nums)):
    for j in range(i + 1, len(nums)):
        if nums[i] + nums[j] == k:
            pairs.append((nums[i], nums[j]))
pairs.sort(key=lambda x: x[0])
print(pairs)

In [ ]:
#W6A11
t = tuple(map(int,input().split()))
even = []
odd = []
for x in t :
  if x % 2 == 0 :
    even.append(x)
  else :
    odd.append(x)

even = tuple(even)
odd = tuple(odd)
print(even)
print(odd)

5 10 15 20 1 2 3 4
(10, 20, 2, 4)
(5, 15, 1, 3)

In [ ]:
#W6A12
a = list(map(int, input().split()))
freq = {}
for x in a:
    freq[x] = freq.get(x, 0) + 1
max_freq = max(freq.values())
candidates = [x for x in freq if freq[x] == max_freq]

print(min(candidates))

5 10 5 20 5 20 6
5

In [ ]:
#W6A13
d = eval(input())
new_d = {}

for k, v in d.items():
    new_d[v] = k

print(new_d)

In [ ]:
#W6A14
a = list(map(int, input().split()))
b = list(map(int, input().split()))
result = list(set(a) & set(b))
print(result)

5 10 20
5 6 7
[5]

In [ ]:
#W6A15
data = input().split()
k = int(input())

d = {}
for i in range(0, len(data), 2):
    key = data[i]
    value = int(data[i+1])
    d[key] = value

result = {}
for key, value in d.items():
    if value > k:
        result[key] = value

print(result)

a 10 b 20
10
{'b': 20}

In [ ]:
#W6A16
n, m = map(int, input().split())

a = []
for _ in range(n):
    row = list(map(int, input().split()))
    a.append(row)

for row in a:
    for x in row:
        print(f"{x:4d}", end="")
    print()

In [ ]:
#W6A17
n = int(input("nhap n :"))
a = []
for i in range(n):
  row = list(map(int,input().split()))
  a.append(row)

print("duong cheo chinh :")
for i in range(n):
  print(a[i][i], end = ' ')

print("\nduong cheo phu :")
for i in range(n):
  print(a[i][n-1-i], end = ' ')

nhap n :3
1 2 3
4 5 6
7 8 9
duong cheo chinh :
1 5 9
duong cheo phu
3 5 7

In [ ]:
#W6A18
n, m, k = map(int, input().split())

a = []
for i in range(n):
    row = list(map(int, input().split()))
    a.append(row)

# Tổng cột k
sum_col = 0
for i in range(n):
    sum_col += a[i][k]

# Tổng hàng k
sum_row = 0
for j in range(m):
    sum_row += a[k][j]

print("Tổng cột k:", sum_col)
print("Tổng hàng k:", sum_row)

3 4 1
1 2 3 4
5 6 7 8
9 10 11 12
Tổng cột k: 18
Tổng hàng k: 26

In [ ]:
#W6A19
def vi_tri_max(a):
    max_val = a[0]
    pos = 0

    for i in range(1, len(a)):
        if a[i] > max_val:
            max_val = a[i]
            pos = i

    return pos
a = list(map(int, input("Nhập dãy số nguyên: ").split()))
pos = vi_tri_max(a)
print("Vị trí của phần tử lớn nhất là:", pos)
print("Giá trị lớn nhất là:", a[pos])

Nhập dãy số nguyên: 4 5 6 7 8 10 9
Vị trí của phần tử lớn nhất là: 5
Giá trị lớn nhất là: 10

In [ ]:
#W6A20
def tim_vi_tri_k(a, k):
    for i in range(len(a)):
        if a[i] == k:
            return i
    return -1
a = list(map(int, input("Nhập dãy số nguyên: ").split()))
k = int(input("Nhập số k: "))
print(tim_vi_tri_k(a, k))

Nhập dãy số nguyên: 1 2 3 4 5 6
Nhập số k: 6
5

In [10]:
#W6A21
s = input("Nhập các chuỗi: ").split()

result = {}

for i in range(len(s)):
    word = s[i]
    if word not in result:
        result[word] = []
    result[word].append(i)

for word in result:
    result[word] = tuple(result[word])

print(result)

Nhập các chuỗi: apple banana apple orange banana apple
{'apple': (0, 2, 5), 'banana': (1, 4), 'orange': (3,)}

In [ ]:
#W6A22
def vi_tri_max(a):
    max_val = a[0]
    pos = 0

    for i in range(1, len(a)):
        if a[i] > max_val:
            max_val = a[i]
            pos = i

    return pos
a = list(map(int, input("Nhập dãy số nguyên: ").split()))
pos = vi_tri_max(a)
print("Vị trí của phần tử lớn nhất là:", pos)
print("Giá trị lớn nhất là:", a[pos])